/*
h1 {
    box-shadow: 1rem 1rem 1rem black;
    background-color: rgb(246, 186, 237);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    display: inline;
}
*/
label {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btnsave {
    padding: 1rem 2rem;
    border: 1px black solid;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;
    background-color: #c0b2db;
}

.btncancel {
    padding: 1rem 2rem;
    border: 1px black solid;
    border-radius: 8px;
    box-shadow: 2px 2px 8px black;
    font-family:'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 700;
    color: white;
    background-color: #eb6d6d;
}

#logo {
    width: 100px;
    box-shadow: 4px 4px 10px aquamarine;
}